:root {
  --color-background: white;
  --color-color2: #a8bbff;
}

* {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; /*=> 1rem = 1em = 10px */
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  background: var(--color-background);
  color: var(--color-maincolor);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: var(--color-maincolor);
}
